# Ignore the build and lib dirs
build
lib/*


# Ignore any executables
bin/*
__pycache__
*.bin

# Ignore any out files
*.o
*.csv

# Ignore interaction output, can change this if we'd like to use it
interaction.m

